.navbar-brand img {
    max-width: 120px;
    height: auto;
}

.nav-link {
    font-size: 1.12rem;
}

.calltoaction {
    color: #ff4500 !important;
}

.calltoaction:hover {
    color: rgb(138, 40, 4) !important;
}

.textmaincolor {
    color: #ff4500 !important;
}
